{% extends "base.html" %}

{% block title %}Home{% endblock %}



{% block content %}

{% for post in posts | reverse %}
    
    {% if post.overname.term == category %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.post_author.image) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('views.accounts', username=post.post_author.username) }}">{{ post.post_author.username }}</a>
                <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>
                <small>{{ post.category_id.id }}</small>
                <small id="filter">{{ post.overname.term }}</small>   
                <img class="article-star" class="rounded-circle ariticle-img" src="{{ url_for('static', filename='star_rating/'+ post.star +'.jpg') }}"> 
            </div>
                
            
            <h2><a class="article-title" href="{{ url_for('views.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    {% endif %}
{% endfor %}

{% endblock %}

