{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% for currency in currencies | reverse %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" target="_blank" href="https://www.google.de/search?q={{currency.name}}">{{ currency.id }}</a>
                </div>
                <h2><a class="article-title" target="_blank" href="https://www.google.de/search?q={{currency.name}}">{{ currency.name }}</a></h2>
            </div>
        </article>
    {% endfor %}

{% endblock %}