{% extends "base.html" %}

{% block title %}Search{% endblock %}


{% block content %}

    {% for post in posts | reverse %}
        <article class="media content-section">
            <a href="{{ url_for('views.accounts', username=post.post_author.username) }}" >
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.post_author.image) }}">
            </a>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('views.accounts', username=post.post_author.username) }}">{{ post.post_author.username }}</a>
                    <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>
                    <a class="mr-2" id="filter" href="{{ url_for('views.filter', category=post.overname.term) }}">{{ post.overname.term }}</a>
                </div>
                <h2><a class="article-title" href="{{ url_for('views.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock %}